{% extends 'layout.twig' %}

{% block body %}
  <form class="auth-form" method="post" action="{{ config.basePath }}/auth">
    <h1>
      ┬┴┬┴┤ ͜ʖ ͡°) ├┬┴┬┴
    </h1>
    <p>
      {{ __('auth.enter_password') }}
    </p>
    <p>
      {{ header }}
    </p>
    <input type="hidden" name="_csrf" value={{ csrfToken }}>
    <input type="password" name="password" placeholder="{{ __('auth.label_password') }}">
    <input type="submit" value="Login">
  </form>
{% endblock %}

