<!DOCTYPE html>
<html lang="{{ locale }}" data-theme="{{ config.defaultTheme }}">
<head>
  <title>{{ (page.title ?: config.title) | striptags }}</title>
  <link rel="stylesheet" href="{{ config.basePath }}/dist/main.css?v={{ bundleRevisionCss }}" />
  <link rel="icon" type="{{ favicon.type }}" href="{{ favicon.destination }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" property="og:description" content="{{ config.description }}">
  <meta property="og:title" content="{{ page.title | striptags }}" />
  <meta property="og:site_name" content="{{ config.title }}" />
  <meta property="og:type" content="article" />
  <meta property="article:modified_time" content="{{ (page.body.time / 1000) | date("c") }}" />

  <script>
    window.config = {
      misprintsChatId: "{{ config.misprintsChatId }}",
      hawkClientToken:"{{ config.hawkClientToken }}",
      basePath: "{{ config.basePath }}",
      availableLocales: {{ config.availableLocales | json_encode }},
      allowChangeTheme: {{ config.allowChangeTheme | json_encode }},
      locale: "{{ locale }}",
      locales: {
        writing: {{ __('js.writing') | json_encode }},
        page: {{ __('js.page') | json_encode }},
      },
    };
  </script>
</head>
<body>
  {% include "components/header.twig" %}

  <div class="docs">
    {% include "components/sidebar.twig" %}

    <div class="docs__content">
      <div class="docs__content-inner">
        {% block body %}{% endblock %}
      </div>

      <aside class="docs__aside-right" id="layout-sidebar-right"></aside>
    </div>
  </div>

  <script src="{{ config.basePath }}/dist/main.bundle.js?v={{ bundleRevisionJs }}"></script>

  {% include "components/footer.twig" %}
</body>
</html>
