<!DOCTYPE html>
<html lang="{{ locale }}" data-theme="{{ config.defaultTheme }}" style="height: 100%">
<head>
  <title>{{ config.title }}</title>
  <link rel="stylesheet" href="{{ config.basePath }}/dist/main.css?v={{ bundleRevisionCss }}" />
  <link rel="icon" type="{{ favicon.type }}" href="{{ favicon.destination }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" property="og:description" content="{{ config.description }}">
  <meta property="og:title" content="{{ config.title }}" />
  <meta property="og:site_name" content="{{ config.title }}" />

  <script>
    window.config = {
      misprintsChatId: "{{ config.misprintsChatId }}",
      hawkClientToken:"{{ config.hawkClientToken }}",
      basePath: "{{ config.basePath }}",
      availableLocales: {{ config.availableLocales | json_encode }},
      allowChangeTheme: {{ config.allowChangeTheme | json_encode }},
    };
  </script>
</head>
<body class="greeting-body">
  {% include "../components/header.twig" %}

  <div class="greeting-content">
    {{ svg('frog') }}
    <p class="greeting-content__message">
      {{ __('index.create_first_page') }}
    </p>
    {% include '../components/button.twig' with {label: __('index.add_page'), icon: 'plus', size: 'small', url: config.basePath ~ '/page/new'} %}
  </div>

  {% include "components/footer.twig" %}
</body>
</html>
