{% set classes = ['block-image__content'] %}
{% set randId = random(100, 5999) %}

<figure class="block-image">
  <div {% if style == "slider" %} id="tns-{{ randId }}"{% else %}class="flexbin flexbin-margin"{% endif %}>
    {% for file in files %}
      {% if style == "slider" %}
        <div class="{{ classes.join(' ') }}">
      {% endif %}
        <a data-fancybox="{{ randId }}" data-src="{{ file.url }}" data-caption="{{ caption ? caption | striptags : '' }}">
          {% if file.mime and file.mime == 'video/mp4' %}
            <video autoplay loop muted playsinline>
              <source src="{{ file.url }}" type="video/mp4">
            </video>
          {% else %}
            <img src="{{ file.url }}" alt="{{ caption ? caption | striptags : '' }}">
          {% endif %}
        </a>
      {% if style == "slider" %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% if caption %}
    <footer class="block-image__caption">
        {{ caption }}
    </footer>
  {% endif %}
</figure>

{% if style == "slider" %}
  <script type="module">
    var slider{{ randId }} = tns({
      container: '#tns-{{ randId }}',
      items: 1,
      slideBy: 'page',
      loop: false,
      controls: false,
      mouseDrag: true,
      arrowKeys: true,
      // autoWidth: true,
      autoHeight: true,
      gutter: 8,
      // autoplay: true,
    });
  </script>
{% endif %}
